$enable-grid-classes: true;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Create your own map
$custom-colors: (
  "rojo": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);